<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User panel</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>

    <tr th:each="user : ${listUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${#strings.listJoin(user.roles.![authority], ', ')}">User Roles></td>
    </tr>
</table>

</form>


<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>


</body>
</html>